.overlay {
    color: white;
    font-size: 2.5vh;
    text-align: center;
    position: absolute;
	bottom: 0;
	left: 0;
    margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'Quicksand', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
    background: none;
    padding: 5px;
    border: 1px solid white;
    border-radius: 5px;
  
}

.movie-title, .movie-year{
    background: none;
}

.movie-year{
    font-size: 2vh;
}


.movie-card {
	position: relative;
    cursor: pointer;
    width: 100%;
	height: 100%;
    

}

.movie-image {
	width: 100%;
    height: 100%;
    border-radius: 5px;
}
