/*@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*/
* {
    background-color: rgb(22, 22, 22);
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
}


.home, .discover {
    color: white;
    margin-top: 80px;
    height: 100%;
    width: calc(100% - 200px);
    margin-left: 200px; 
}

.movie-section {
    
}


.movie-showcase{
    height: 100%;
    padding: 20px;
    width: 100%;

}

.headline{
    margin-bottom: 20px;
    font-size: 3.5vh;
}

.movie-list{
    width: 100%;
    display: grid;
    height: 100%;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.trending-list{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}




